apiVersion: v1
kind: Service
metadata:
  name: kafka-service
  namespace: default
  labels:
    app: kafka
spec:
  ports:
  - port: 9092
    targetPort: 9092
    protocol: TCP
    name: plaintext
  - port: 29092
    targetPort: 29092
    protocol: TCP
    name: internal
  clusterIP: None
  selector:
    app: kafka
