apiVersion: v1
kind: Service
metadata:
  name: zookeeper-service
  namespace: default
  labels:
    app: zookeeper
spec:
  ports:
  - port: 2181
    targetPort: 2181
    protocol: TCP
    name: client
  clusterIP: None
  selector:
    app: zookeeper
